[project]
name = "fluidimage"
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "osx-64"]

[tasks]
# use as `pixi run install-editable`
install-dependencies = "pixi install"
install-editable = {cmd = "pip install -e . -v --no-build-isolation --no-deps", depends_on = ["install-dependencies"]}
test = "export OMP_NUM_THREADS=1 && pytest src -v"

[dependencies]
python = ">=3.9,<3.11"
numpy = ">=1.26.3"
transonic = ">=0.6.4"
# should actually be >=0.6.2 (soon available)
fluiddyn = ">=0.6.1"
h5netcdf = ">=1.3.0"
h5py = ">=3.10.0"
matplotlib = ">=3.5"
scipy = ">=1.11.4"
rich = ">=13.7.1"
ipython = ">=8.21.0"
opencv = ">=4.8.1"
trio = ">=0.24.0"
dask = ">=2024.2.0"
pyfftw = ">=0.13.1"
textual = ">=0.56.4"
# build deps
pip = ">=23.3.2"
pkg-config = ">=0.29.2"
meson-python = ">=0.15.0"
ninja = ">=1.11.1"
meson = ">=1.3.2"
pythran = ">=0.15.0"
# tests
pytest = ">=8.0.0"
pytest-cov = ">=4.1.0"
coverage = ">=7.4.1"
pytest-asyncio = ">=0.23.6,<0.24"
linkify-it-py = ">=2.0.3,<2.1"
