name: CI Pixi

on:
  - push
  - pull_request

jobs:
  tests:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: ["windows-2022", "macos-latest"]
        python-version: ["3.9", "3.10", "3.11", "3.12"]
    defaults:
      run:
        shell: bash -l {0}
    steps:
    - uses: actions/checkout@v4
    - uses: prefix-dev/setup-pixi@v0.8.0
      with:
        pixi-version: v0.22.0
        cache: false
    - name: Install
      run: |
        pixi run install-editable
    - name: Tests
      run: |
        pixi run test
